<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

       
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="{{path('blog')}}">list article </a>
            </li>
             <li class="nav-item">
            <a class="nav-link active" href="{{path('blog_new')}}">création article </a>
            </li>
             <li class="nav-item">
            <a class="nav-link active" href="{{path('blog_affiche')}}">affiche article </a>
            </li>
      </ul>
    </div>
  </div>
</nav>
<div class= "container" >
        {% block body %}{% endblock %}
        </div>
    </body>
</html>

